<footer class="footer footer-horizontal footer-center bg-base-300 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" [routerLink]="[]" fragment="home">{{ languageService.currentLanguage() === 'en' ? 'Home' : 'Inicio' }}</a>
    <a class="link link-hover" [routerLink]="[]" fragment="about">{{ languageService.currentLanguage() === 'en' ? 'About' : 'Sobre mí' }}</a>
    <a class="link link-hover" [routerLink]="[]" fragment="skills">{{ languageService.currentLanguage() === 'en' ? 'Skills' : 'Habilidades' }}</a>
    <a class="link link-hover" [routerLink]="[]" fragment="projects">{{ languageService.currentLanguage() === 'en' ? 'Projects' : 'Proyectos' }}</a>
    <a class="link link-hover" [routerLink]="[]" fragment="contact">{{ languageService.currentLanguage() === 'en' ? 'Contact' : 'Contacto' }}</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a href="https://github.com/elianbarrios" class="transition-all hover:text-info" aria-label="GitHub profile of Elián Barrios">
        <ng-icon [name]="iconService.getById('github')?.iconName" class="text-3xl"></ng-icon>
      </a>

      <a href="https://x.com/elianbarrios_" class="transition-all hover:text-info" aria-label="X (Twitter) profile of Elián Barrios">
        <ng-icon [name]="iconService.getById('x')?.iconName" class="text-3xl"></ng-icon>
      </a>

      <a href="https://www.linkedin.com/in/elianbarrios/" class="transition-all hover:text-info" aria-label="LinkedIn profile of Elián Barrios">
        <ng-icon [name]="iconService.getById('linkedin')?.iconName" class="text-3xl"></ng-icon>
      </a>

      <a href="mailto:elianbarrios1707@outlook.com" class="transition-all hover:text-info" aria-label="Send email to elianbarrios1707@outlook.com">
        <ng-icon [name]="iconService.getById('email')?.iconName" class="text-4xl"></ng-icon>
      </a>
    </div>
  </nav>
  <aside>
    <p>
      {{
        languageService.currentLanguage() === 'en'
          ? 'Copyright © ' + year() + ' - All rights reserved by Elián Barrios'
          : 'Copyright © ' + year() + ' - Todos los derechos reservados por Elián Barrios'
      }}
    </p>
  </aside>
</footer>
