<h1 class="text-3xl sm:text-4xl font-bold ">{{ languageService.currentLanguage() === 'en' ? 'Hello' : 'Hola' }}<span class="text-info">.</span></h1>

<div class="flex items-center -ms-4 sm:-ms-15">
  <div class="divider divider-info w-10 sm:w-20"></div>
  <h2 class="ms-3 text-2xl lg:text-3xl font-normal">{{ languageService.currentLanguage() === 'en' ? "I'm Elián" : 'Soy Elián' }}</h2>
</div>

<div class="block">
  <span class="text-3xl lg:text-4xl font-bold">
    @if (languageService.currentLanguage() === 'en') {
      <om-typewriter [words]="['Software Engineer', 'FullStack Developer']"></om-typewriter>
    } @else {
      <om-typewriter [words]="['Ingeniero de Software', 'Desarrollador FullStack']"></om-typewriter>
    }
  </span>
</div>

<div class="mt-5 flex gap-2 flex-wrap">
  <a href="https://github.com/elianbarrios"
    class="badge border border-neutral bg-base-300 text-base-content transition-all hover:border-gray-700 hover:text-info py-4">
    <ng-icon [name]="skillIconService.getById('github')?.iconName" class="text-xl"></ng-icon>
    elianbarrios
  </a>

  <a href="https://www.linkedin.com/in/elianbarrios/"
    class="badge border border-neutral bg-base-300 text-base-content transition-all hover:border-gray-700 hover:text-info py-4">
    <ng-icon [name]="skillIconService.getById('linkedin')?.iconName" class="text-xl"></ng-icon>
    elianbarrios
  </a>

  <a href="https://x.com/elianbarrios_"
    class="badge border border-neutral bg-base-300 text-base-content transition-all hover:border-gray-700 hover:text-info py-4">
    <ng-icon [name]="skillIconService.getById('x')?.iconName" class="text-xl"></ng-icon>
    @elianbarrios_
  </a>

  <a href="mailto:elianbarrios1707@outlook.com"
    class="badge border border-neutral bg-base-300 text-base-content transition-all hover:border-gray-700 hover:text-info py-4">
    <ng-icon [name]="skillIconService.getById('email')?.iconName" class="text-2xl"></ng-icon>
    elianbarrios1707@outlook.com
  </a>
</div>
