<div class="lg:px-16">
  <div class="flex flex-col items-center">
    <h2 class="ms-3 text-3xl font-bold">{{ languageService.currentLanguage() === 'en' ? 'Projects' : 'Proyectos' }}</h2>

    <div class="block mt-3">
      <div class="divider divider-info divider-horizontal h-10 w-10"></div>
    </div>

    <div class="rounded-full bg-info size-3"></div>
  </div>

  <div class="flex flex-col gap-14 mt-7 items-center">
    @for (project of projects(); track project.id; let index = $index) {
    <om-fade [direction]="index % 2 == 0 ? 'left' : 'right'" [transitionDuration]="'1s'" [animateOnlyOnce]="true">
      <div class="flex flex-col items-center gap-10 lg:justify-between lg:flex-row"
        [class.lg:flex-row-reverse]="index % 2 != 0" [class.lg:self-end]="index % 2 != 0">
        <div class="flex flex-col gap-2 lg:w-2/4 xl:w-3/5">
          <h3 class="text-2xl font-bold">
            {{ languageService.currentLanguage() === 'en' ? project.title : (project.title_es || project.title) }}
          </h3>

          <div class="flex flex-wrap gap-2 lg:w-11/12">
            @for (badge of project.badge; track badge) {
            <div class="badge badge-neutral font-bold">{{ badge.name }}</div>
            }
          </div>

          <p class="lg:pe-10">
            {{ languageService.currentLanguage() === 'en' ? project.description : (project.description_es || project.description) }}
          </p>

          <div class="flex items-center gap-5 mt-2">
            @if (project.github_url) {
            <a href="{{ project.github_url }}" class="btn btn-soft btn-info">
              {{ languageService.currentLanguage() === 'en' ? 'View GitHub' : 'Ver GitHub' }}
            </a>
            }

            @if (project.project_url) {
            <a href="{{ project.project_url }}"
              class="border-b-2 hover:text-info transition-all flex items-center gap-2">
              {{ languageService.currentLanguage() === 'en' ? 'View Project' : 'Ver Proyecto' }}
              <ng-icon name="ionArrowUpRightBoxOutline"></ng-icon>
            </a>
            }
          </div>
        </div>

        <div>
          <div class="hover-3d">
            <picture class="rounded-2xl shadow-xl shadow-base-300">
              <img
                src="{{ project.img_url }}"
                [alt]="languageService.currentLanguage() === 'en'
                  ? 'preview of ' + project.title + ' project'
                  : 'vista previa del proyecto ' + (project.title_es || project.title)"
                width="400"
                height="300"
              >
            </picture>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </om-fade>
    }

    <a href="https://github.com/elianbarrios?tab=repositories" class="btn btn-soft btn-info w-60 my-5">
      <span class="text-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="text-3xl" width="1em" height="1em" viewBox="0 0 24 24">
    <path d="M0 0h24v24H0z" fill="none" />
    <defs>
      <mask id="SVGcZ81hcNk">
        <path fill="#fff" d="M9.5 8c0.83 0 1.5 0.45 1.5 1c0 0.55 -0.67 1 -1.5 1c-0.83 0 -1.5 -0.45 -1.5 -1c0 -0.55 0.67 -1 1.5 -1ZM14.5 8c0.83 0 1.5 0.45 1.5 1c0 0.55 -0.67 1 -1.5 1c-0.83 0 -1.5 -0.45 -1.5 -1c0 -0.55 0.67 -1 1.5 -1Z" />
        <rect width="8" height="4" x="8" y="7">
          <animate attributeName="y" dur="9s" keyTimes="0;0.45;0.46;0.54;0.55;1" repeatCount="indefinite" values="7;7;11;11;7;7" />
        </rect>
      </mask>
    </defs>
    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path stroke-dasharray="32" d="M12 4c1.67 0 2.61 0.4 3 0.5c0.53 -0.43 1.94 -1.5 3.5 -1.5c0.34 1 0.29 2.22 0 3c0.75 1 1 2 1 3.5c0 2.19 -0.48 3.58 -1.5 4.5c-1.02 0.92 -2.11 1.37 -3.5 1.5c0.65 0.54 0.5 1.87 0.5 2.5c0 0.73 0 3 0 3M12 4c-1.67 0 -2.61 0.4 -3 0.5c-0.53 -0.43 -1.94 -1.5 -3.5 -1.5c-0.34 1 -0.29 2.22 0 3c-0.75 1 -1 2 -1 3.5c0 2.19 0.48 3.58 1.5 4.5c1.02 0.92 2.11 1.37 3.5 1.5c-0.65 0.54 -0.5 1.87 -0.5 2.5c0 0.73 0 3 0 3">
        <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="32;0" />
      </path>
      <path stroke-dasharray="10" stroke-dashoffset="10" d="M9 19c-1.41 0 -2.84 -0.56 -3.69 -1.19c-0.84 -0.62 -1.09 -1.66 -2.31 -2.31">
        <animate attributeName="d" dur="3s" keyTimes="0;0.5;1" repeatCount="indefinite" values="M9 19c-1.41 0 -2.84 -0.56 -3.69 -1.19c-0.84 -0.62 -1.09 -1.66 -2.31 -2.31;M9 19c-1.41 0 -3 -0.5 -4 -0.5c-0.53 0 -1 0 -2 -0.5;M9 19c-1.41 0 -2.84 -0.56 -3.69 -1.19c-0.84 -0.62 -1.09 -1.66 -2.31 -2.31" />
        <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.2s" to="0" />
      </path>
    </g>
    <path fill="currentColor" d="M0 0h24v24H0z" mask="url(#SVGcZ81hcNk)" />
        </svg>
      </span>

      {{ languageService.currentLanguage() === 'en' ? 'View more projects' : 'Ver más proyectos' }}
    </a>
  </div>
</div>
